@import "nullstyle.scss";


@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.eot');
    src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Regular.woff') format('woff'),
        url('fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.eot');
    src: url('fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Bold.woff') format('woff'),
        url('fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Bold.eot');
    src: url('fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Akrobat-Bold.woff') format('woff'),
        url('fonts/Akrobat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-ExtraBold.eot');
    src: url('fonts/Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Akrobat-ExtraBold.woff') format('woff'),
        url('fonts/Akrobat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}



video {
    max-width: 100%;
    max-height: 100%;
}

$bigOffset: 0 0 125px 0;
$smallOffset: 0 0 80px 0;
$hoverBg: #E0E3F0;

.container {
    max-width: calc(1296px + 144px);
    margin: 0 auto;
    padding: 0 72px;
}

.btn {
    transition: .3s ease-in-out;
    padding: 12px 32px;
    border-radius: 8px;
    color: #fff;
    background: #314081;
    text-align: center;
    width: max-content;

    &:hover {
        background: #4F5FA4;
    }

    & path {
        transition: .3s ease-in-out;
    }

    &.white {
        background: #fff;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 16px;
        text-transform: uppercase;
        font-family: 'Akrobat';
        font-size: 18px;
        font-weight: 800;
        line-height: 22px;
        color: #314081;

        &:hover {
            background: #314081;
            color: #fff;

            & path {
                fill: #fff;
            }
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 16px 0;

    &__inner {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__logo {
        width: 134px;
        flex-shrink: 0;
    }

    &__menu {
        display: flex;
        gap: 24px;

        &-link {
            color: #BEBBD8;
            transition: .3s ease-in-out;

            &:hover {
                color: #fff;
            }
        }
    }

    &__contacts {
        margin-left: auto;
        display: flex;
        gap: 32px;

        &-item {
            & a {
                color: #fff;
            }

            &.mobile {
                display: none;
            }
        }

        &-name {
            font-size: 12px;
            line-height: 16px;
            color: #908BB9;
        }
    }
}

.dash-item {
    border-bottom: 1px dashed;
}

.main-screen {
    position: relative;
    z-index: 1;
    height: 960px;
    color: #BEBBD8;
    margin: $bigOffset;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(43, 43, 50, .5);
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        padding: 127px 0 54px 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin: 0 0 153px 0;
    }

    &__descr {
        max-width: 746px;
        position: relative;
        padding: 43px 0 0 0;

        &::before {
            content: '';
            width: 86px;
            height: 4px;
            background: #fff;
            position: absolute;
            top: 6px;
            left: 0;
        }
    }

    & .dash-item {
        position: relative;
        user-select: none;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
            position: absolute;
            top: 32px;
            left: 40px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }

        &::before {
            content: attr(data-popup);
            padding: 12px 16px;
            width: 375px;
            background: #fff;
            border-radius: 16px;
            position: absolute;
            top: 40px;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-in-out;
            font-size: 16px;
            line-height: 24px;
            color: black;
            z-index: 5;
        }

        &:hover::before,
        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &__body-inner {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 72px 26px;
    }

    &__body {
        position: relative;
    }

    &__img {
        position: absolute;
        top: -84px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.main-item {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #908BB9;
    text-align: right;

    & h4 {
        color: #fff;
        text-align: right;
    }

    &__head {
        margin: 0 0 15px 0;
        height: 48px;
        display: flex;
        align-items: center;
    }

    &__content {
        max-width: 305px;
    }

    &:nth-child(even) {
        display: block;
        margin-left: auto;
        text-align: left;

        & h4 {
            text-align: left;
        }

        & .main-item__head {
            margin: 0 96px 15px 0;
        }
    }
}

.advantages {
    margin: $bigOffset;
    position: relative;
    z-index: 1;
    overflow: hidden;


    & h2 {
        max-width: 400px;
        width: 100%;
        flex-shrink: 0;
    }

    &__decor {
        position: absolute;
        left: -138px;
        bottom: 35px;
        z-index: 2;
        opacity: .5;
        transition: .3s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        column-count: 2;
        column-gap: 24px;
        row-gap: 24px;
        max-width: 856px;
        width: 100%;
        margin: 5px 0 0 0;
    }
}

.advantages-item {
    padding: 24px;
    background: #F5F6F7;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin: 0 0 24px 0;
    border-radius: 8px;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 3;

    & img {
        transition: .3s ease-in-out;
    }

    &:hover {
        background: #E0E3F0;

        & img {
            transform: scale(1.15);
        }
    }

    &__content {
        max-width: 94%;
    }

    &__head {
        margin: 0 0 15px 0;
    }

    & h4 {
        margin: 0 0 8px 0;
    }
}

.crumbs {
    margin: 16px 0 0 0;

    &.flex {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 4px;
        margin: 8px 0 0 0;

        & .crumbs__item {
            margin: 0;
            padding: 4px 12px;
        }
    }

    &__item {
        padding: 6px 12px;
        background: rgba(49, 64, 129, .1);
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        width: max-content;
        color: #314081;

        &-img {
            flex-shrink: 0;
        }

        &:not(:last-child) {
            margin: 0 0 8px 0;
        }
    }
}

.head-module {
    margin: $smallOffset;

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, .333fr);
        gap: 16px 24px;
        margin: 32px 0 0 0;
    }



    &__item {
        grid-column: span 3;
        background: #F5F6F7;
        border-radius: 8px;
        padding: 16px 24px;
        display: flex;
        flex-direction: column;
        transition: .3s ease-in-out;

        & img {
            transition: .3s ease-in-out;
        }

        &:hover {
            background: $hoverBg;
        }

        &:not(.main):hover .head-module__img img {
            transform: scale(1.15);
        }

        &.large:hover .head-module__img img {
            transform: scale(1.07) translate(8px, 2px);
        }

        & h4 {
            margin: 0 0 5px 0;
        }

        & h5 {
            margin: 0 0 4px 0;
        }

        &.row {
            flex-direction: row;
            align-items: center;
            gap: 16px;

            & .head-module__img {
                margin: 0;
            }
        }

        &.large {
            grid-column: span 6;
        }

        &.main {
            grid-column: span 6;
            grid-row: span 4;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            & .head-module__img {
                max-width: 378px;
                width: 100%;
            }

            & .head-module__img {
                margin: 0;
            }
        }
    }

    &__img {
        margin: 0 0 16px 0;
        flex-shrink: 0;
    }

    &__rotate {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 24px;
        margin: 32px 0 0 0;
    }
}

.rotate-item {
    background: #F5F6F7;
    padding: 32px;
    border-radius: 8px;
    text-align: center;
}

.noUi-connects,
.noUi-connect {
    background: #D6DFE7;
    height: 4px;
}

.noUi-handle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #314081;
    background-image: url(../img/svg/left-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: -13px;
    left: 7px;
    cursor: pointer;
}

.slider {
    max-width: 240px;
    margin: 0 auto;
}

.scheme {
    min-height: 700px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 0 64px 0;

    &__bg {
        position: absolute;
        top: 63px;
        left: 51.2%;
        transform: translateX(-50%);
        width: 1606px;
        z-index: -1;
    }

    &__mobile {
        display: none;

        & .scheme__item {
            position: static;
        }
    }

    &__img {
        width: 523px;
        margin: 0 auto;
        position: relative;
        bottom: 6px;
    }

    &__item {
        padding: 24px;
        position: absolute;
        z-index: 1;

        &:hover {
            color: #fff;

            & h5 {
                color: #fff;
            }

            &::before {
                filter: none;
                background: #314081;
                border: 1px solid #314081;

            }

            & .scheme__item-number {
                border: 1px solid #fff;
                background: transparent;
            }

            &~.scheme__number {
                background: #314081;
                color: #fff;
            }
        }

        &.item-1 {
            left: -3px;
            top: 17px;
        }

        &.item-2 {
            top: 146px;
            left: -166px;
            width: 305px;
        }

        &.item-3 {
            top: 130px;
            right: -276px;
            width: 305px;
        }

        &.item-4 {
            top: 279px;
            left: -23px;
            width: 305px;
        }

        &.item-5 {
            right: -212px;
            bottom: 270px;
            width: 305px;
        }

        &.item-6 {
            left: -73px;
            bottom: 124px;
        }

        &.item-7 {
            bottom: 57px;
            right: 49px;
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 32px;
            background: rgba(255, 255, 255, 0.48);
            border: 1px solid rgba(255, 255, 255, 0.64);
            backdrop-filter: blur(4px);
            top: 0;
            left: 0;
        }


        &-head {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;
        }

        &-body {
            margin: 8px 0 0 0;
            position: relative;
        }

        &-number {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: #314081;
            border-radius: 50%;
            border: 1px solid transparent;
        }

    }

    &__number {
        box-shadow: 0px 4px 4px 0px rgba(46, 60, 116, 0.32);
        position: absolute;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #314081;
        font-size: 16px;
        transition: .3s ease-in-out;

        &.item-1 {
            top: 98px;
            left: 207px;
        }

        &.item-2 {
            top: 159px;
            left: 286px;
        }

        &.item-3 {
            top: 200px;
            right: 88px;
        }

        &.item-4 {
            top: 215px;
            left: 281px;
        }

        &.item-5 {
            top: 270px;
            left: 380px;
        }

        &.item-6 {
            left: 170px;
            bottom: 144px;
        }

        &.item-7 {
            bottom: 77px;
            left: 229px;
        }
    }
}

.list-block {
    margin: $bigOffset;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 24px;
    }

    &__item {
        max-height: 300px;
        overflow: hidden;
        padding: 32px;
        background: #F5F6F7;
        border-radius: 8px;
        position: relative;

        &.col-count {
            & ul {
                column-count: 2;
                column-gap: 24px;
            }

            & li {
                -webkit-column-break-inside: avoid;
                -moz-column-break-inside: avoid;
                break-inside: avoid;

            }
        }

        &.active {
            max-height: unset;

            &::after {
                content: none;
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 86px;
            background: linear-gradient(0.00deg, rgb(245, 246, 247) 50%, rgba(255, 255, 255, 0) 155.856%);
            position: absolute;
            left: 0;
            bottom: 0;
            pointer-events: none;
        }

        & .btn {
            position: absolute;
            z-index: 2;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
        }

        & li {
            list-style-type: disc;

            &:not(:last-child) {
                margin: 0 0 8px 0;
            }
        }

        & h4 {
            margin: 0 0 16px 0;

            &::after {
                content: '';
                width: 80px;
                height: 4px;
                margin: 16px 0 0 0;
                display: block;
                background: #314081;
            }
        }

        & ul {
            padding: 0 0 0 24px;
        }
    }
}

.signals {
    margin: 0 0 74px 0;

    &__inner {
        display: grid;
        grid-template-columns: repeat(8, .5fr);
        gap: 16px 24px;
        margin: 25px 0 0 0;
    }

    &__item {
        background: #F5F6F7;
        padding: 16px 24px;
        border-radius: 8px;
        grid-column: span 2;
        position: relative;
        transition: .3s ease-in-out;
        overflow: hidden;

        & img {
            transition: .3s ease-in-out;
        }

        &:hover {
            background: $hoverBg;

            & img {
                transform: scale(1.15);
            }
        }

        & p {
            margin: 5px 0 0 0;
        }

        &-head {
            margin: 0 0 16px 0;
        }

        &.main {
            grid-column: span 4;
            grid-row: span 2;
        }

        &.large {
            grid-column: span 4;
        }
    }
}

.signals-main-content {
    max-width: 141px;
    position: absolute;
    left: 32px;
    bottom: 26px;
    z-index: 1;
}

.chars {
    margin: $bigOffset;

    &__inner {
        margin: 24px 0 0 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }

    &__item {
        padding: 16px 24px;
        background: #F5F6F7;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        & h4 {
            flex-grow: 1;
            margin: 0 0 4px 0;
        }

        & td {
            padding: 12px 13px 12px 0;
            border-bottom: 1px solid #E1E7F5;
            color: #474C63;

            &:last-child {
                padding-right: 0;
                text-align: right;
                min-width: 64px;
            }
        }

        & tr:last-child td {
            border: none;
        }

        &-head {
            margin: 0 0 24px 0;
        }
    }
}

.programm {
    margin: $bigOffset;

    &__head {
        display: grid;
        grid-template-columns: repeat(3, 1.333fr);
        gap: 24px;
        margin: 0 0 32px 0;

        &-img {
            margin: 0 0 24px 0;
        }

        &-descr {
            grid-column: span 2;
            max-width: 745px;
        }
    }

    & h2 span {
        display: block;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1.333fr);
        gap: 24px;
        margin: 0 0 24px 0;


    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(6, .666fr);
        gap: 24px;
        margin: 0 0 24px 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        background: #F5F6F7;
        border-radius: 8px;
        transition: .3s ease-in-out;
        overflow: hidden;

        &.scheme:hover {
            background: #F5F6F7;

            & img {
                transform: none;
            }
        }

        & img {
            transition: .3s ease-in-out;
        }

        &:hover {
            background: $hoverBg;

            & img {
                transform: scale(1.15);
            }
        }

        &-head {
            padding: 24px 24px 16px 24px;
            flex-grow: 1;
        }

        &-img {
            margin-top: auto;
        }

        &.large {
            grid-column: span 2;
            padding: 16px 24px;
        }

        &.default {
            padding: 16px 24px;
        }

        &-icon {
            margin: 0 0 16px 0;
        }

        &.scheme {
            justify-content: center;
            align-items: center;
            padding: 32px;
            min-height: unset;
        }
    }
}

.usage {
    margin: $smallOffset;

    &__inner {
        display: flex;
        gap: 56px;
        justify-content: space-between;

        & h2 {
            flex-shrink: 0;
        }
    }

    &__box {
        position: relative;
    }

    &__content {
        max-width: 856px;
        width: 100%;
    }

    &__decor {
        position: absolute;
        left: 0;
        bottom: -212px;
        transition: .3s ease-in-out;
        opacity: .5;
        z-index: 2;

        &:hover {
            opacity: 1;
        }
    }

    &__list {
        column-count: 2;
        column-gap: 24px;
        margin: 52px 0 0 0;
        color: #314081;

        &-item {
            display: flex;
            gap: 12px;
            margin: 0 0 24px 0;
            -webkit-column-break-inside: avoid;
            -moz-column-break-inside: avoid;
            break-inside: avoid;
            max-width: 94%;
        }

        &-img {
            display: inline-block;
            flex-shrink: 0;
            width: 32px;
        }
    }
}

.house {
    margin: $bigOffset;

    & h3 {
        max-width: 857px;
        position: relative;
        z-index: 3;
    }

    &__mobile {
        display: none;
    }

    &__box {
        background: #F5F6F7;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 26px;
        text-align: center;
        position: relative;
        margin: 29px 0 0 0;
    }

    &__img {
        margin: 16px 0 0 0;
    }
}

.footer {
    padding: 0 0 32px 0;
    overflow: hidden;

    &__top {
        max-width: 957px;
        margin: 0 auto;
        position: relative;
        min-height: 280px;

        &-img {
            width: 957px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 36px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h2 {
                margin: 0 0 16px 0;
            }

            & h2::after {
                position: absolute;
                top: -36px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin: 32px 0 72px 0;
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 8px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bottom {


        &-inner {
            display: flex;
            justify-content: space-between;
            position: relative;

            &:not(:last-child) {
                padding: 0 0 32px 0;
                margin: 0 0 16px 0;
                border-bottom: 1px solid #DEDEE3;
            }
        }
    }

    &__feedback {
        display: flex;
        gap: 32px;



        &-name {
            font-size: 12px;
            color: #8B8B8B;

            & a {
                color: #8B8B8B;
            }
        }
    }
}

.burger {
    display: none;
}

.mobile-menu-text {
    display: none;
}

@media screen and (max-width: 1440px) {
    .advantages {
        &__decor {
            left: -393px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .header {
        &__menu {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .advantages {
        & h2 {
            max-width: 356px;
        }

        &__decor {
            left: -436px;
            bottom: 67px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .usage {
        &__inner {
            flex-direction: column;
            gap: 24px;
        }

        &__content {
            max-width: unset;
        }

        &__list {
            column-gap: 56px;
            margin: 32px 0 0 0;

            &-item {
                max-width: unset;
            }
        }

        &__decor {
            display: none;
        }
    }

    .signals {
        &__item {
            grid-column: span 4;

            &.main,
            &.large {
                grid-column: span 8;
            }

            &.main {
                order: 2;
            }
        }
    }

    .programm {
        & h2 span {
            display: inline;
        }

        &__head {
            grid-template-columns: 4fr;

            &-descr {
                grid-column: auto;
            }


        }
    }

    .chars {
        &__inner {
            grid-template-columns: repeat(2, 2fr);
        }

        &__item {
            height: 100%;

            &-head {
                width: 256px;
                margin: 0 auto 24px auto;
            }
        }
    }

    .list-block {
        &__inner {
            grid-template-columns: 4fr;
        }
    }

    .scheme {
        &__item {
            &.item-1 {
                left: 0px;
                top: 78px;
            }

            &.item-2 {
                top: 174px;
                width: 260px;
                left: -153px;
            }

            &.item-3 {
                width: 260px;
                right: -202px;
            }

            &.item-4 {
                top: 298px;
                width: 260px;
            }

            &.item-5 {
                width: 260px;
                right: -187px;
                bottom: 287px;
            }
        }
    }

    .container {
        padding: 0 44px;
    }

    .advantages {
        & h2 {
            max-width: 296px;
        }

        &__decor {
            left: -521px;
        }
    }

    .mobile-menu-text {
        display: block;
        //font-size: 18px;
        //line-height: 22px;
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        text-transform: uppercase;
        font-family: 'Akrobat';
        color: #fff;
        margin: 0 0 16px 0;
    }

    .header {
        &__menu-box {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 15;
            padding: 32px 16px;
            background: #314081;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: .3s ease-in-out;
            opacity: 0;
            visibility: hidden;


            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        &__menu {
            flex-direction: column;
            gap: 16px;
            margin: 0 0 16px 0;
        }

        &__contacts {
            align-items: center;

            &-item {
                &.mobile {
                    display: block;

                    &:not(:last-child) {
                        margin: 0 0 16px 0;
                    }
                }
            }
        }
    }

    .head-module {
        &__item {
            grid-column: span 6;

            &.main,
            &.large {
                grid-column: span 12;
            }

            &.main {
                order: -2;
            }

            &.large {
                order: -1;
            }
        }
    }

    .burger {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px;
        border-radius: 8px;
        background: rgba(255, 255, 255, .1);
        font-size: 16px;
        color: #fff;
        position: relative;
        z-index: 100;

        &__lines {
            & span {
                position: relative;
                width: 20px;
                height: 1px;
                background: #fff;
                display: block;

                &:not(:last-child) {
                    margin: 0 0 5px 0;
                }
            }
        }

        &.active {
            & .burger__lines {
                & span:last-child {
                    display: none;
                }

                & span:first-child {
                    transform: rotate(45deg);
                    top: 6px;
                }

                & span:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    h1 {
        & span {
            display: inline;
        }
    }

    .main-screen {
        &__top {
            flex-direction: column;
            gap: 16px;
            margin: 0 0 120px 0;
        }

        &__img {
            width: 296px;
            top: -30px;
        }

        &__descr {
            padding: 0;

            & br {
                display: none;
            }

            & .dash-item {
                border: none;

                &::before,
                &::after {
                    content: none;
                }
            }

            &::before {
                content: none;
            }
        }
    }

    .main-item {
        width: 260px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding: 0 36px;
    }

    .footer {
        &__top {
            &-img {
                width: 936px;
            }

            &-content {
                padding: 36px 0 78px 0;
            }
        }

        &__bottom {
            &-inner:not(:last-child) {
                padding: 0 0 100px 0;
            }
        }

        &__social {
            bottom: 28px;
        }

    }

    .programm {
        &__item {

            &.default,
            &.large {
                grid-column: span 3;
            }
        }
    }

    .advantages {
        &__inner {
            flex-direction: column;
            gap: 24px;
        }

        &__decor {
            bottom: auto;
            top: 213px;
        }

        &__content {
            column-count: 1;
        }

        & h2 {
            max-width: unset;
        }
    }

    .scheme {
        min-height: 537px;

        &__img {
            width: 362px;
        }

        &__bg {
            width: 1044px;
        }

        &__number {
            &.item-1 {
                top: 51px;
                left: 126px;
            }

            &.item-2 {
                top: 98px;
                left: 190px;
            }

            &.item-3 {
                top: 136px;
                right: 50px;
            }

            &.item-4 {
                top: 153px;
                left: 191px;
            }

            &.item-5 {
                top: 187px;
                left: 259px;
            }

            &.item-6 {
                left: 110px;
                bottom: 98px;
            }

            &.item-7 {
                bottom: 40px;
                left: 160px;
            }
        }

        &__item {
            padding: 16px;

            &::before {
                border-radius: 16px;
            }

            &.item-1 {
                left: -56px;
                top: -1px;
            }

            &.item-2 {
                width: 220px;
                top: 64px;
                left: -168px;
            }

            &.item-3 {
                top: 11px;
                right: -165px;
                width: 220px;
            }

            &.item-4 {
                left: -108px;
                top: 194px;
                width: 220px;
            }

            &.item-5 {
                right: -164px;
                bottom: 177px;
                width: 220px;
            }

            &.item-6 {
                left: -154px;
                bottom: 31px;
            }

            &.item-7 {
                bottom: -29px;
                right: -33px;
            }
        }
    }

    .main-item {
        width: 150px;
    }

    .main-screen {
        height: 900px;

        &__top {
            margin: 0 0 44px 0;
        }

        &__img {
            width: 273px;
            top: 51px;
        }

        &__body-inner {
            gap: 32px 24px;
        }
    }
}

@media screen and (max-width: 767px) {
    $bigOffset: 0 0 64px 0;

    .signals-main-content {
        left: 16px;
        bottom: 16px;
    }

    .footer {
        &__top {
            min-height: unset;
            padding: 0 0 64px 0;
            margin: 0 16px 36px 16px;
            border-bottom: 1px solid #DEDEE3;

            &-content {
                position: static;
                padding: 36px 0 0 0;
            }

            &-img {
                width: 328px;
            }
        }

        &__buttons {
            margin: 16px 0 0 0;
            flex-direction: column;
            align-items: center;
        }

        &__logo {
            width: 133px;
            margin: 0 0 32px 0;
        }

        &__feedback {
            flex-direction: column;
            gap: 0;

            &-item {
                margin: 0 0 32px 0;
            }
        }

        &__social {
            position: static;
            transform: none;
        }

        &__bottom {
            &-inner {
                flex-direction: column;
                align-items: flex-start;
                gap: 0;

                &:not(:last-child) {
                    padding: 0 0 28px 0;
                    margin: 0 0 16px 0;
                }
            }
        }
    }

    .house {
        margin: $bigOffset;

        &__img {
            width: 100%;

            & img {
                width: 100%;
            }
        }

        & h4 {
            margin: 0 auto;
            text-align: center;
        }

        &__box {
            padding: 16px;
            align-items: flex-start;
        }

        &__mobile {
            display: block;
            margin: 16px 0 0 0;
            color: #314081;

            &-item {
                display: flex;
                align-items: center;
                gap: 12px;
                text-align: left;

                &:not(:last-child) {
                    margin: 0 0 16px 0;
                }
            }

            &-img {
                flex-shrink: 0;
                width: 32px;
                display: flex;
                justify-content: center;

            }
        }
    }

    .usage {
        &__list {
            column-gap: 0px;
            column-count: 1;
            margin: 32px 0 0 0;

            &-item {
                margin: 0;

                &:not(:last-child) {
                    margin: 0 0 16px 0;
                }
            }
        }

    }

    .programm {
        margin: $bigOffset;

        &__body {
            display: flex;
            gap: 16px;
            overflow: auto;
            width: calc(100% + 16px);
            padding: 0 16px 0 0;
            margin: 0 0 16px 0;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 0;
                height: 0;
            }

            & .programm__item {
                flex-shrink: 0;
                padding: 0;
                width: 288px;
            }
        }

        &__item {
            padding: 16px;

            &-icon {
                width: 48px;
            }

            &-head {
                padding: 16px;
            }

            &.scheme {
                background: transparent;
            }

            &.large {
                grid-column: span 6;
                padding: 16px;
            }

            &.default {
                padding: 16px;
            }
        }


        &__footer {
            gap: 16px;
            margin: 0 0 16px 0;
        }
    }

    .chars {
        margin: $bigOffset;

        & .container {
            padding: 0;
        }

        & h3 {
            padding: 0 16px;
        }

        &__inner {
            display: flex;
            align-items: flex-start;
            overflow: auto;
            padding: 0 16px;
            gap: 16px;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 0;
                height: 0;
            }
        }

        &__item {
            flex-shrink: 0;
            height: auto;
            padding: 16px;
        }
    }

    .signals {
        &__inner {
            gap: 16px;
        }

        &__item {
            padding: 16px;

            &-head {
                width: 48px;
            }

            &.main {
                order: -1;
            }
        }
    }

    .list-block {
        margin: $bigOffset;

        &__item {
            padding: 16px;
            max-height: unset;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            &::after {
                content: none;
            }

            & h4 {
                margin: 0;

                &::after {
                    content: none;
                }
            }

            & ul {
                display: none;
                margin: 16px 0 0 0;
            }

            &.col-count ul {
                column-count: 1;
                column-gap: 0;
            }

            & .btn {
                position: static;
                transform: none;
                flex-shrink: 0;
                padding: 8px 16px;
                height: 32px;

                & span {
                    display: none;
                }
            }

            &.active {
                display: block;

                & ul {
                    display: block;
                }
            }
        }
    }

    .header {
        &__contacts-item:first-child {
            display: none;
        }

        &__contacts {
            gap: 8px;
        }

        &__logo {
            width: 89px;
        }
    }

    .scheme {
        min-height: unset;

        & .container {
            padding: 0;
        }

        &__img {
            z-index: 2;
            width: 328px;

            & .scheme__item {
                display: none;
            }
        }

        &__item {
            &:hover {
                color: black;

                & h5 {
                    color: #314081;
                }

                & .scheme__item-number {
                    border: 1px solid transparent;
                    background: #314081;
                    color: #fff;

                }
            }
        }

        &__number {
            width: 24px;
            height: 24px;

            &.item-1 {
                top: 60px;
                left: 124px;
            }

            &.item-2 {
                top: 101px;
                left: 172px;
            }

            &.item-3 {
                top: 122px;
                right: 51px;
            }

            &.item-4 {
                top: 142px;
                left: 175px;
            }

            &.item-5 {
                top: 168px;
                left: 242px;
            }

            &.item-6 {
                left: 110px;
                bottom: 106px;
            }

            &.item-7 {
                bottom: 28px;
                left: 118px;
            }
        }

        &__mobile {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            overflow: auto;
            margin: 32px 0 0 0;
            padding: 0 16px;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 0;
                height: 0;
            }

            & .scheme__item {
                flex-shrink: 0;
                background: #F5F6F7;
                padding: 12px 16px;
                border-radius: 16px;

                &::before {
                    content: none;
                }
            }
        }


    }

    .head-module {
        margin: 0 0 30px 0;

        &__inner {
            gap: 16px;
        }

        &__img {
            width: 40px;
            margin: 0 0 12px 0;
        }

        &__rotate {
            margin: 16px 0 0 0;
            grid-template-columns: 4fr;
        }

        &__item {
            padding: 16px;

            &.row {
                flex-direction: column;
                gap: 0;
                align-items: flex-start;

                & .head-module__img {
                    margin: 0 0 12px 0;
                }
            }

            &.large {
                & .head-module__img {
                    width: auto;
                }
            }

            &:not(.row) {
                grid-column: span 12;
            }
        }
    }

    .advantages {
        overflow: visible;
        overflow-x: clip;

        &__decor {
            top: auto;
            bottom: -51px;
            left: -378px;
        }
    }

    .advantages-item {
        &__head {
            width: 30px;
        }
    }

    .main-item {
        width: auto;
        display: block;
        text-align: left;

        & h4,
        &:nth-child(even) {
            text-align: left;
            margin-left: 0;
        }

        &:nth-child(even) .main-item__head {
            margin: 0 0 15px 0;
        }

        &:nth-child(3),
        &:last-child {
            grid-column: span 2;
        }

        &__content {
            max-width: unset;
        }
    }

    .burger {
        padding: 10px;

        &__text {
            display: none;
        }
    }

    .main-screen {
        height: auto;
        background: #1B1842;
        padding: 96px 0 64px 0;
        margin: $bigOffset;

        &::before {
            content: none;
        }

        & video {
            display: none;
        }

        &__content {
            position: static;
            padding: 0;
        }

        &__img {
            position: static;
            width: 220px;
            margin: 0 auto;
            transform: none;
        }

        &__body-inner {
            margin: 32px 0 0 0;
            gap: 24px;
        }
    }

    .container {
        padding: 0 16px;
    }

    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    h4 {
        font-size: 18px;
        line-height: 22px;
    }

    h5 {
        font-size: 16px;
        line-height: 20px;
    }

    .lead {
        font-size: 16px;
        line-height: 24px;
    }

    html,
    body {
        font-size: 14px;
        line-height: 22px;
    }

    .text-secondary {
        font-size: 12px;
        line-height: 18px;
    }


}