footer.footer
    .footer__top
        .footer__top-img
            img(src="img/svg/ft.svg", alt="")
        .footer__top-content
            h2 Хотите узнать больше?
            p Свяжитесь с нами любым удобным способом
            .footer__buttons
                a(href="mailto:info@mfmc.ru").btn info@mfmc.ru
                a(href="tel:+74951222262").btn +7 495 122-22-62
             

    .footer__bottom 
        .container 
            .footer__bottom-inner
                a(href="#").footer__logo
                    img(src="img/svg/footer-logo.svg", alt="") 
                .footer__feedback
                    .footer__feedback-item 
                        p.footer__feedback-name Напишите нам
                        p 
                            a(href="mailto:info@mfmc.ru") info@mfmc.ru 
                    .footer__feedback-item 
                        p.footer__feedback-name По России бесплатно
                        p 
                            a(href="tel:+74951222262") +7 495 122-22-62
                .footer__social 
                    a(href="#")
                        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1191 32C24.9557 32 32.1191 24.8366 32.1191 16C32.1191 7.16344 24.9557 0 16.1191 0C7.28258 0 0.119141 7.16344 0.119141 16C0.119141 24.8366 7.28258 32 16.1191 32Z" fill="#29235C" fill-opacity="0.3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 16.1286V15.8714C22.6857 15.7 20.26 15.5714 18.3143 13.6857C16.4286 11.74 16.2914 9.31429 16.1286 4H15.8714C15.7 9.31429 15.5714 11.74 13.6857 13.6857C11.74 15.5714 9.31429 15.7086 4 15.8714V16.1286C9.31429 16.3 11.74 16.4286 13.6857 18.3143C15.5714 20.26 15.7086 22.6857 15.8714 28H16.1286C16.3 22.6857 16.4286 20.26 18.3143 18.3143C20.26 16.4286 22.6857 16.2914 28 16.1286Z" fill="white"/>
                        </svg> 
                    a(href="#")
                        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1191 32C24.9557 32 32.1191 24.8366 32.1191 16C32.1191 7.16344 24.9557 0 16.1191 0C7.28258 0 0.119141 7.16344 0.119141 16C0.119141 24.8366 7.28258 32 16.1191 32Z" fill="#29235C" fill-opacity="0.3"/>
                            <path d="M25.7017 11.3118C25.5879 10.8993 25.3646 10.5231 25.0544 10.2209C24.7441 9.91876 24.3577 9.70114 23.9339 9.58986C22.3736 9.18164 16.1191 9.18164 16.1191 9.18164C16.1191 9.18164 9.86467 9.18164 8.30441 9.58769C7.88035 9.6986 7.49375 9.91611 7.18344 10.2184C6.87313 10.5206 6.65003 10.8969 6.53655 11.3096C6.11914 12.8296 6.11914 15.9998 6.11914 15.9998C6.11914 15.9998 6.11914 19.1701 6.53655 20.6879C6.76646 21.526 7.44503 22.1861 8.30441 22.4098C9.86467 22.818 16.1191 22.818 16.1191 22.818C16.1191 22.818 22.3736 22.818 23.9339 22.4098C24.7955 22.1861 25.4718 21.526 25.7017 20.6879C26.1191 19.1701 26.1191 15.9998 26.1191 15.9998C26.1191 15.9998 26.1191 12.8296 25.7017 11.3118ZM14.1325 18.9095V13.0902L19.3111 15.9781L14.1325 18.9095Z" fill="white"/>
                        </svg> 
                    a(href="#")
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z" fill="#29235C" fill-opacity="0.3"/>
                            <path d="M7.32169 15.6536L22.7483 9.70561C23.4643 9.44695 24.0896 9.88028 23.8576 10.9629L23.859 10.9616L21.2323 23.3363C21.0376 24.2136 20.5163 24.4269 19.787 24.0136L15.787 21.0656L13.8576 22.9243C13.6443 23.1376 13.4643 23.3176 13.051 23.3176L13.335 19.2469L20.7483 12.5496C21.071 12.2656 20.6763 12.1056 20.251 12.3883L11.0896 18.1563L7.14035 16.9243C6.28302 16.6523 6.26435 16.0669 7.32169 15.6536Z" fill="white"/>
                        </svg> 
                    a(href="#")
                        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1191 32C24.9557 32 32.1191 24.8366 32.1191 16C32.1191 7.16344 24.9557 0 16.1191 0C7.28258 0 0.119141 7.16344 0.119141 16C0.119141 24.8366 7.28258 32 16.1191 32Z" fill="#29235C" fill-opacity="0.3"/>
                            <path d="M23.7523 12.6772C23.8641 12.2865 23.7523 12 23.2237 12H21.4727C21.0271 12 20.8235 12.2479 20.7117 12.5201C20.7117 12.5201 19.8214 14.8046 18.5599 16.2858C18.1526 16.7169 17.9666 16.853 17.7446 16.853C17.6336 16.853 17.4723 16.7169 17.4723 16.3262V12.6772C17.4723 12.2084 17.3438 12 16.9725 12H14.221C13.9431 12 13.7755 12.2168 13.7755 12.4235C13.7755 12.8671 14.4062 12.9696 14.4709 14.2198V16.9319C14.4709 17.526 14.3695 17.6343 14.1459 17.6343C13.5527 17.6343 12.1091 15.3415 11.2523 12.7167C11.0854 12.2067 10.917 12.0008 10.4698 12.0008H8.71958C8.21895 12.0008 8.11914 12.2487 8.11914 12.5209C8.11914 13.0099 8.7124 15.4297 10.8826 18.63C12.3294 20.8153 14.3663 22 16.222 22C17.3342 22 17.4716 21.737 17.4716 21.2833V19.6315C17.4716 19.1055 17.5777 18.9997 17.9299 18.9997C18.1886 18.9997 18.6341 19.1375 19.6729 20.1902C20.8594 21.4387 21.0559 21.9992 21.7226 21.9992H23.4728C23.9727 21.9992 24.2226 21.7362 24.0789 21.2169C23.9216 20.7002 23.3546 19.9482 22.6025 19.0585C22.1937 18.551 21.5828 18.0049 21.3968 17.7318C21.1373 17.3798 21.2124 17.2243 21.3968 16.9118C21.3968 16.9118 23.5303 13.7518 23.7523 12.6772Z" fill="white"/>
                        </svg>
            .footer__bottom-inner
                span.footer__feedback-name &copy; 2024 Компания МФМК
                span.footer__feedback-name Разработка сайта: <a href="#">FreeSystems</a>



script(src="js/jquery-3.6.1.js")
script(src="js/nouislider.min.js") 
script(src="js/main.js")