-
    var mainItem = [
        {
            img: 'img/svg/m-1.svg',
            name: 'ARMv8 Cortex-A53',
            descr: '64-бит, 4 ядра, 1.2 ГГц',
        },
        {
            img: 'img/svg/m-2.svg',
            name: '1ГБ SDRAM DDR3',
            descr: '1333 МГц',
        },
        {
            img: 'img/svg/m-3.svg',
            name: '12 Типов сигналов',
            descr: 'DI(PNP/NPN), DO(PNP/NPN), AI(PT100/РТ1000) и другие',
        },
        {
            img: 'img/svg/m-4.svg',
            name: 'Множество протоколов',
            descr: 'Протоколы MODBUS TCP/RTU, Profinet, МЭК104, BACnet IP, PowerLink и другие;',
        },
    ]

    var advantages = [
        {
            img: 'img/svg/a-1.svg',
            name: '100% разработка и производство в РФ',
            descr: 'Поддержка отечественного <br> ПО (MasterSCADA)',
        },
        {
            img: 'img/svg/a-3.svg',
            name: '15 Лет опыта',
            descr: 'Внедрений лучших мировых контроллеров воплощены в ПЛК Титан',
        },
        {
            img: 'img/svg/a-5.svg',
            name: 'Надёжность',
            descr: 'Высокотехнологичное производство и контроль качества',
            crumbs: [
                {
                    img: 'img/svg/c-3.svg',
                    text: '5 лет гарантии',
                },
                {
                    img: 'img/svg/c-4.svg',
                    text: '15 лет срок службы',
                },
            ]
        },
        {
            img: 'img/svg/a-2.svg',
            name: 'Гибкость',
            descr: 'До 32 модулей (256 точек) на 1 корзину ввода-вывода, до 15 корзин в системе',
            crumbs: [
                {
                    img: 'img/svg/c-1.svg',
                    text: '10 типов сигналов',
                },
                {
                    img: 'img/svg/c-2.svg',
                    text: '> 10 видов протоколов связи',
                },
            ]
        },
        
        {
            img: 'img/svg/a-4.svg',
            name: 'Скорость',
            descr: 'Режим реального времени до 3840 точек на проект. Параллельный опрос корзин, быстрая межмодульная шина CAN, автоматическая адресация модулей',
        },
        
    ]
    

    var listBlock = [
        {
            default: true,
            name: 'Ключевые преимущества межмодульной шины CAN Титан-1000',
            list: ['CAN и RS-485 являются популярными интерфейсами для передачи данных в промышленных системах;', 'CAN имеет доминантное и рецессивное состояние, что позволяет разрешать коллизии сообщений;', 'CAN отличается высокой надёжностью, устойчивостью к электромагнитным помехам и хорошим уровнем защиты от сбоев;', 'Арбитраж в CAN используется для разрешения конкуренции между сообщениями на линии передачи данных;', 'CANbus имеет преимущества перед RS-485 в мультиузловых системах благодаря возможности ранжирования сообщений;', 'CANbus предлагает улучшенную пропускную способность, большее поле данных и возможность обработки критических сообщений.', 'CAN обеспечивает работу систем на основе Титан-1000 в режиме реального времён']
        },
        {
            name: 'ПЛК ТИТАН поддерживает различные протоколы связи',
            list: ['Протокол FINS для оборудования Omron', 'Протокол SLMP для оборудования Mitsubishi', 'Протокол SNMP', 'Протокол МЭК-61850', 'Протокол МЭК-60870–5-104', 'Протокол BACnet', 'Протокол Profinet', 'Протокол DLMS', 'Счётчики Энергомера (СЕ301, СЕ303, СЕ304, ЦЭ6850)', 'Счётчики НЗИФ (СЭТ-4, ПСЧ-4, СЭБ-1)', 'Счётчики Милур', 'Счётчики Меркурий', 'Концентратор Меркурий 225', 'Теплосчетчики ТЭМ-104, ТЭМ-106, ТЭСМА-106', 'Теплосчетчики ВЗЛЁТ ТСР-024, ТСР-027, ТСР-042, ТСР-043', 'Теплосчетчики Теплоком ВКТ-7, ВКТ-9', 'УСПД УМ-31', 'Корректоры объёма газа ЕК-260, ЕК-270, ЕК-280', 'Измерительные устройства Элемер', 'Счётчики-регистраторы Пульсар']
        },
    ]

    var chars = [
        {
            webp: 'img/webp/chars-img@x2.webp',
            img: 'img/chars-img@x2.png',
            name: 'модуль аналогового входа AI X KК',
            table: [
                {
                    name: 'Количество каналов',
                    value: '8',
                },
                {
                    name: 'Диапазон измерения',
                    value: '0…20 мА',
                },
                {
                    name: 'Разрешающая способность АЦП',
                    value: '12 разрядов',
                },
                {
                    name: 'Напряжение изоляции',
                    value: '500 В',
                },
            ]
        },
        {
            webp: 'img/webp/chars-img@x2.webp',
            img: 'img/chars-img@x2.png',
            name: 'модуль <br> N1 AO X KК',

            table: [
                {
                    name: 'Количество каналов',
                    value: '4',
                },
                {
                    name: 'Диапазон измерения',
                    value: '0…20 мА',
                },
                {
                    name: 'Напряжение гальванической изоляции, канал-шина',
                    value: '500 В',
                },
                
            ]
        },
        {
            webp: 'img/webp/chars-img@x2.webp',
            img: 'img/chars-img@x2.png',
            name: 'модуль <br> N1 AO X KК',
            table: [
                {
                    name: 'Количество каналов',
                    value: '8',
                },
                {
                    name: 'Напряжение гальванической изоляции канал-<br>шина',
                    value: 'не менее 500 В',
                },
                {
                    name: 'Потребление модуля по шине 5В',
                    value: 'не более 1 Вт',
                },
                {
                    name: 'Потребление модуля по шине 24В',
                    value: 'не более 8 Вт',
                },
            ]
        },
        {
            webp: 'img/webp/chars-img@x2.webp',
            img: 'img/chars-img@x2.png',
            name: 'модуль <br> N1 AO X KК',
            table: [
                {
                    name: 'Количество каналов',
                    value: '8',
                },
                {
                    name: 'Напряжение гальванической изоляции канал-шина',
                    value: 'не менее 500 В',
                },
                {
                    name: 'Номинальный выходной ток на канал',
                    value: '0,5 А',
                },
                
            ]
        },
    ]
    var programms = [
        {
            head: 'Объектно-ориентированная среда разработки',
            webp: 'img/webp/p-1.webp',
            img: 'img/p-1.png',
        },
        {
            head: 'Более 100 видов компонентов — таблицы, графики, схемы, и др.',
            webp: 'img/webp/p-2.webp',
            img: 'img/p-2.png',
        },
        {
            head: 'Встроенный конструктор быстрого построения BMS систем',
            webp: 'img/webp/p-3.webp',
            img: 'img/p-3.png',
        },
    ]
    var usage = [
        {
            img: 'img/svg/u-1.svg',
            descr: 'Складское хозяйство и конвейерные системы'
        },
        {
            img: 'img/svg/u-2.svg',
            descr: 'Элеваторы, эскалаторы и системы транспортировки материалов',
        },
        {
            img: 'img/svg/u-3.svg',
            descr: 'Насосные станции (водоподготовка, водоотведение и др.)',
        },
        {
            img: 'img/svg/u-4.svg',
            descr: 'Системы, обеспечивающие безопасность доступа',
        },
        {
            img: 'img/svg/u-5.svg',
            descr: 'Оборудование по очистке сточных вод',
        },
        {
            img: 'img/svg/u-6.svg',
            descr: 'Станции распределения электроэнергии',
        },
        {
            img: 'img/svg/u-7.svg',
            descr: 'Нагревательные и охладительные установки',
        },
        {
            img: 'img/svg/u-8.svg',
            descr: 'Оборудование для кондиционирования воздуха и вентиляции',
        },
        {
            img: 'img/svg/u-9.svg',
            descr: 'Противопожарные системы',
        },
        {
            img: 'img/svg/u-10.svg',
            descr: 'Смешивающие и опреснительные механизмы',
        },
        {
            img: 'img/svg/u-11.svg',
            descr: 'Освещение',
        },
        {
            img: 'img/svg/u-12.svg',
            descr: 'Заполнение и осушение резервуаров',
        },
        {
            img: 'img/svg/u-13.svg',
            descr: 'Удалённое управление нагрузками и мониторинг, диспетчеризация систем всего объекта',
        },
    ]